@{
    ViewBag.Title = "Aminbazar Land Field Home Page";
    Layout = "~/Views/Shared/_Layout_Aminbazar.cshtml";
}

<div class="jumbotron">
    <h1>DNCC Aminbazar Land Field</h1>
    <p class="lead">Welcome to Dhaka North City Corporation's Aminbazar Land Field  Management System.</p>
    <p><a href="/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
</div>